@media screen and (min-width:1158px) {
.container {
 max-width: 1158px;
 padding-left: 0;
}

.logo {
    margin-right: 76px;
}

.container-address-links {
    flex-direction: row;
    gap: 40px;
}

.address-link {
 font-size: 16px;
}

     /* section 1 */

.one {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 100%;
}

.effective {
    margin-bottom: 48px;
}

      /* section 2 */

.second {
    padding-top: 120px;
    padding-bottom: 120px;
          }

.icon-folder-advangages {
    display: flex;
    width: 264px;
        height: 112px;
}

.container-ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    max-width: none;
}

.goals-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.goals-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

/* Section 3 */

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-ul {
    gap: 24px;
}

.team-img {
    padding: 0;
    flex-basis: calc((100% - 24px) / 5);
}

.social-icons {
}

/* section 4 */

.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24; 
    padding-left: 0;
    margin-bottom: 0;
}

.our-item {
    flex-basis: calc((100% - (24px * 2)) / 3);

}

.our-img-container {
 max-width: 360px;
}

/* FOOTER */
.container-footer {
    display: flex;
    align-items: baseline;
        flex-wrap: nowrap;
        margin: 0 auto;
}

.webstudio-group {
    margin-right: 120px
}

.social-media-group {
    margin-right: 96px
}
.footer-button {
    max-width: 165px;
    border: 1px;
}

/* MODAL */

}