.container {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    /* padding-bottom: 17.5px;
    padding-top: 17.5px; */
}
.header-page {
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-page .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.menu-nav {
    display: flex;
    align-items: center;
    padding: 25.5px 0 25.5px 0;

}
.container-nav-links,
.container-address-links {
    display: none;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px; */
}
.logo-studio {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.nav-studio {
    font-weight: 500;
    line-height: 1.5;
    position: relative;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    color: #404BBF;
}
.nav-link:last-child {
    margin-right: 0;
}
.nav-link:hover {
    color: #404bbf;
}
.nav-studio :focus {
    color: #404bbf;
}
a:hover {
    color: #404BBF;
}
.main-address {
    font-style: normal;
    margin-left: auto;
}
.address-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:last-child {
    margin-right: 0;
}
.address-info :hover {
    color: #404bbf;
}
.address-info :focus {
    color: #404bbf;
}

/* section 1 */

.one {
    padding-top: 72px;
    padding-bottom: 72px;
    /* max-width: 100%; */
    height: 432px;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)), url(../images/bgoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.effective {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    max-width: 216px;
    
}

.one-batton {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.one-batton:hover {
    background-color: #404BBF;
}

.one-batton:focus {
    background-color: #404BBF;
}

/* section 2 */

.second {
    padding-top: 96px;
    padding-bottom: 96px;
    max-height: 100%;
}

.second-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-folder-advangages {
    display: none;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    text-align: center;
    margin-bottom: 8px;
}

.icon-advantages {
    margin-top: 24px;
    margin-bottom: 24px;
}

.container-ul {
    display: flex;
    flex-direction: column;
    gap: 72px;
    max-width: 288px;
    max-height: 96px;
}

.goals-names {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.goals-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;

}

/* Section 3 */

.our-team {
    background-color: #F4F4FD;
    padding-top: 120px; 
    padding-bottom: 120px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

 .our-team-ul {
    display: flex;
    gap: 24px;
}

.team-img {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.container-workes {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-person {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.team-person-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 12px;
}

.our-container {
    text-align: center;
    padding: 0;
}

.social-icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-link {
    border: 1px solid #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icons {
    fill: #f4f4fd;
    justify-content: center;
    text-align: center;
} 


@media screen and (min-width:320px) {
.container {
    max-width: 320px;
}
}