h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #434455;
    line-height: 1;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}